@{
    ViewBag.Title = "_BootstrapLayout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    @RenderBody()
</div>

@section JavaScript {
    @RenderSection( "JavaScript", false )
}