@{
    ViewBag.Title = "About proggr";
    Layout = "~/Views/Shared/_BootstrapLayout.cshtml";
}

<div class="row">&nbsp;</div>

<div class="row">
    <div class="span12">
        <h2>About</h2>
        <h1 class="accent">What is proggr?</h1>
    </div>
</div>

<div class="row">&nbsp;</div>

<div class="row">
    <div class="span12">
        <p>
            When I'm done coding the presentation I might put something here. - Jared.
        </p>
    </div>
</div>
