<div class="jumbotron masthead">
    <div class="container">
        <h1>Proggr</h1>
        <p>Open source bragging rights, powered by Github... and magicical love pancakes.</p>
        <p><a href="https://github.com/login/oauth/authorize?client_id=@ViewBag.client_id" class="btn btn-primary btn-large">View your profile</a></p>
        <ul class="masthead-links">
            <li><a href="http://github.com/codeimpossible/proggr">GitHub project</a></li>
            <li>v.01</li>
        </ul>
    </div>
</div>

