<div class="jumbotron masthead">
    <div class="container">
        <h1>Proggr</h1>
        <p>Open source bragging rights, powered by Github... and magical love pancakes.</p>
        @if( !Request.IsAuthenticated ) {
            <p><a href="https://github.com/login/oauth/authorize?client_id=@ViewBag.client_id" class="btn btn-primary btn-large">Sign in with Github</a></p>
        } else {
            var user = Proggr.OAuth.OAuthTicketHelper.GetUserFromCookie();
            <p><a href="/profiles/@user.Login" class="btn btn-primary btn-large">View your profile</a></p>
        }
        <ul class="masthead-links">
            <li><a href="http://github.com/codeimpossible/proggr">View the source for this on Github</a></li>
            <li>v.01</li>
        </ul>
    </div>
</div>

