@{
    ViewBag.Title = "Unauthorized.";
    Layout = "~/Views/Shared/_BootstrapLayout.cshtml";
}

<h2>401. You're authentication could not be verified.</h2>
<p>When we sent the request to Github you either denied us access to your account, or Github did not respond
    with a response we are familiar with.</p>
<p>Sorry about that.</p>