@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_BootstrapLayout.cshtml";
}

<h2>Oops.</h2>

<pre>
    @{
        var ex = Server.GetLastError();
        while(ex != null) {
            Html.Raw( ex.ToString() );
            ex = ex.InnerException;
        }
    }
</pre>