@{
    ViewBag.Title = "Worker Running";
    Layout = "~/Views/Shared/_BootstrapLayout.cshtml";
}

<div class="row">&nbsp;</div>

<div class="row">
    <div class="span12">
        <h2>Worker</h2>
        <h1>Current Worker List</h1>
    </div>
</div>
