@{
    ViewBag.Title = "Worker Running";
    Layout = "~/Views/Shared/_BootstrapLayout.cshtml";
}

<div class="row">&nbsp;</div>

<div class="row">
    <div class="span12">
        <h2>Worker</h2>
        <h1 class="accent">Initializing Worker Drone</h1>
    </div>
</div>

<div id="progress-info" style="position: fixed; bottom: 32px; left: 0; height: 32px; width: 100%; display: block;">
    Current Task Progress:
</div>
<div id="progress" style="position: fixed; bottom: 0; left: 0; height: 32px; width: 100px; display: block;" class="purplebg"></div>

<script type="text/javascript">
    (function ($) {
        $(function () {
            var $progress = $("#progress");

            var percentage = 0;

            $(window).resize(function () {
                var max_width = $('window').width();
                percentage = max_width / 100;
                // TODO: resize the progress using the new value for percent
            });
        });
    })(jQuery);
</script>